[user]
	name = Julien D'Ascenzio
	email = jdascenzio@paratronic.fr
[color]
	ui = auto
[alias]
	logo = log --pretty=oneline --abbrev-commit --graph --decorate --all
[core]
	editor = vim
[merge]
	tool = kdiff3
[mergetool "diffconflicts"]
	cmd = diffconflicts vimdiff $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[diff]
	tool = vimdiff
	guitool = kdiff3
[difftool]
	prompt = false
[push]
	default = current
