[user]
	name = Julien D'Ascenzio
	email = jdascenzio@paratronic.fr
[color]
	ui = auto
[alias]
	logoRef = log --pretty=oneline --abbrev-commit --graph --decorate --all --simplify-by-decoration
	logoa = log --pretty=oneline --abbrev-commit  --decorate --all
	logoag = log --pretty=oneline --abbrev-commit --graph --decorate --all
	logoga = log --pretty=oneline --abbrev-commit --graph --decorate --all
	logog = log --pretty=oneline --abbrev-commit --graph --decorate
	logo = log --pretty=oneline --abbrev-commit --decorate
[core]
	editor = vim
	pager = less -x3
[merge]
	tool = kdiff3
[mergetool "diffconflicts"]
	cmd = diffconflicts vimdiff $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[diff]
	tool = vimdiff3
	guitool = kdiff3
[difftool]
	prompt = false
[push]
	default = current
[pull]
	rebase = true
[achievement]
	upload = true
